<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    https://developer.android.com/guide/topics/manifest/uses-feature-element-->
<!--    The purpose of a <uses-feature> declaration is to inform any external entity-->
<!--    of the set of hardware and software features your application depends on. -->
<!--    The element offers a required attribute that lets you specify whether your application requires -->
<!--    and can't function without the declared feature or prefers to have the feature but can function without it.-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWENG894_CAPSTONE_UPCme"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"

            android:theme="@style/Theme.SWENG894_CAPSTONE_UPCme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>